/* File designated to contain playbar style */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0;
}

.container-playbar {
  display: flex;
  background-color: #535353;
  justify-content: center;
}

.container-playbar > Button {
  padding: 0;
  font-size: large;
}

.playBar-container {
  background-color: #535353;
  text-align: center;
  margin: 20px 0 0 0;
}

.popUp {
  background-color: #535353;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 140px;
}

.popUp h3 {
  font-size: 30px;
}
.popUp span {
  margin: 20px 0;
}

.imageBottomContainer {
  margin-left: 20px;
}

.imageBottomContainer img {
  width: 100%;
  margin: 1em auto;
  border-radius: 20px;
}
